body {
  text-align: center;
  background: url(/images/Todo-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  margin: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
h1 {
  color: white;
  font-size: 30px;
}

.todo {
  background-color: #99d1ff;
  opacity: 0.8;
  width: 450px;
  height: 550px;
  padding: 30px 50px;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
#taskInput{
  margin-top: 5px;
  height: 25px;
}
.input-container {
  display: flex; 
  margin-bottom: 20px; 
}

.todo input {
  width: calc(100% - 140px); 
  padding: 10px;
  margin-right: 10px;
  height: 20px;
  border-radius: 20px;
  background-color: white;
}

#addTaskBtn {
  background-color: rgb(112, 199, 124);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  height: 45px;
  width: 100px;
}

#clearTasksBtn {
  background-color: rgb(0, 145, 255);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  height: 45px;
  width: 100px;
}

.Btn {
  flex-direction: column;
  gap: 50px;
  border-radius: 20px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.modal-buttons {
  margin-top: 10px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#saveUpdateBtn {
  background-color: #28a745;
  color: white;
}

#cancelUpdateBtn {
  background-color: #dc3545;
  color: white;
}

#saveUpdateBtn:hover {
  background-color: #218838;
}

#cancelUpdateBtn:hover {
  background-color: #c82333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-left: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5d295e;
}

.delete-button {
  background-color: #ff4d4d;
}

.delete-button:hover {
  background-color: red;
}

.update-button {
  background-color: #ffc107;
}

.update-button:hover {
  background-color: #e0a800;
}

.done-button {
  background-color: #28a745;
}

.done-button:hover {
  background-color: #218838;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

span {
  flex: 1;
  overflow-wrap: break-word;
  margin-right: 10px;
}
