# Ignore Node.js dependencies (node_modules)
node_modules/

# Ignore package-lock.json file
package-lock.json

# Ignore Environment variables
.env

# Ignore macOS system files (e.g., .DS_Store)
.DS_Store