# Ignore the package.json file in the parent directory (outside .DS_STORE)
/package.json

# Ignore Node.js dependencies (outside .DS_STORE)
/package-lock.json

# Ignore Environment variables (inside .DS_STORE)
.env
